
header{
  display:flex;
  justify-content:space-evenly;
}

.crosCurs{
  display:flex;
}

.crosCurs input{
  font-size:20px;
  width:140px;
}

.InputText{
  font-size:20px;
  margin-top: 15px;
}

.formCalc{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 20px;
}

.formCalc label{
  padding-top: 15px;
}

.formCalc_select{
  font-size:20px;
}

.OtherItem{
  display:flex;
  justify-content: space-between;
}

#OtherOV,#OtherCL,#OtherEV{
  width:20px;
}


.result{
  font-size:20px;
  width:40%;
}



.result p{
  margin:0;
}

.result_deliveryItem{
  display:flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  margin: 10px 0px;
}

.result_deliveryItemCustoms{
  display: flex;
  justify-content: space-between;
  text-align: center;
}



















































/*ABILENE - TX
ADELANTO - CA
ADP TOWING MAUI -HI
ALBANY - NY
ALBUQUERQUE - NM
ALTOONA - PA
AMARILLO - TX
ANDREWS - TX
ANTELOPE - CA
APPLETON - WI
ATLANTA EAST - GA
ATLANTA NORTH - GA
ATLANTA SOUTH - GA
ATLANTA WEST - GA
Augusta - GA
AUSTIN - TX
BAKERSFIELD - CA
BALTIMORE - MD
BALTIMORE EAST - MD
BATON ROUGE - LA
BILLINGS - MT
BIRMINGHAM - AL
BOISE - ID
BUFFALO - NY
CANDIA - NH
CARTERSVILLE - GA
CHAMBERSBURG - PA
CHARLESTON - WV
CHICAGO NORTH - IL
CHICAGO SOUTH - IL
CHICAGO SOUTH-Woodmar/Heights sublot - IL
CHINA GROVE - NC
CICERO - IN
CLEVELAND EAST - OH
CLEVELAND WEST - OH
COLORADO SPRINGS - CO
COLUMBUS - OH
CONCORD - NC
CORPUS CHRISTI - TX
CRASHEDTOYS ATLANTA - GA
CRASHEDTOYS DALLAS  - TX
CRASHEDTOYS EAST BETHEL - MN
CRASHEDTOYS ELDRIDGE - IA
CRASHEDTOYS MINNEAPOLIS - MN
CRASHEDTOYS SACRAMENTO - CA
DALLAS - TX
DALLAS SOUTH - TX
DANVILLE - VA
DAVENPORT - 169 Davenport sublot - IA
DAVENPORT - IA
DAYTON - OH
DENVER - CO
DENVER CENTRAL - CO
DENVER SOUTH - CO
DES MOINES - IA
DETROIT - MI
DK TOWING KAUAI - HI
DOTHAN - AL
DYER - IN
EARLINGTON - KY
EL PASO - TX
EUGENE - OR
EXETER  - RI
FAIRBURN  - GA
FAYETTEVILLE - AR
FLINT - MI
FORT WAYNE - IN
FREDERICKSBURG  - VA
FREETOWN - MA
FRESNO - CA
FT. PIERCE - FL
FT. WORTH - TX
GASTONIA - NC
GLASSBORO EAST - NJ
GLASSBORO WEST - NJ
GRAHAM - WA
GREER - SС
HAMMOND - IN
HAMPTON - VA
HARRISBURG - PA
HARTFORD - CT
HARTFORD CITY - IN
HARTFORD SPRINGFIELD - CT
HAYWARD - CA
HELENA - MT
HONOLULU - HI
HOUSTON - TX
HOUSTON EAST - TX
INDIANAPOLIS - IN
IONIA - MI
JACKSON - MS
JACKSONVILLE EAST - FL
JACKSONVILLE NORTH - FL
JACKSONVILLE WEST - FL
KANSAS CITY - KS
KINCHELOE - MI
KENS TOWING HILO - HI
KNOXVILLE - TN
LANSING - MI
LAS VEGAS - NV
LAS VEGAS WEST - NV
LEXINGTON WEST - KY
LEXINGTON EAST - KY
LINCOLN - NE
LITTLE ROCK - AR
LONG BEACH - CA
LONG ISLAND - NY
LONGVIEW - TX
LOS ANGELES - CA
LOUISVILLE - KY
LUFKIN - TX
LUMBERTON - NC
LYMAN - ME
MACON - GA
MADISON - WI
MADISON SOUTH - WI
MARTINEZ - CA
MCALLEN - TX
MEBANE - NC
MEMPHIS - TN
MENTONE - CA
MIAMI CENTRAL - FL
MIAMI NORTH - FL
MIAMI SOUTH - FL
MILWAUKEE - Stutervant sublot - WI
MILWAUKEE - Waukesha sublot - WI
MILWAUKEE - WI
MILWAUKEE SOUTH - WI
MILWAUKEE NORTH - WI
MILWAUKEE- Yard 339 Milwaukee sublot - WI
MINNEAPOLIS - MN
MINNEAPOLIS NORTH - MN
MO - COLUMBIA - MO
MOBILE - AL
MOBILE SOUTH - AL
MOCKSVILLE  - NC
MONTGOMERY - AL
N.Boston-ROWLEY Sublot - MA
NASHVILLE - TN
NEW ORLEANS - LA
NEWBURGH - NY
NORTH BOSTON - MA
NORTH CHARLESTON - SC
NORTH SEATTLE - WA
OCALA - FL
OGDEN - UT
OKLAHOMA CITY - OK
ORLANDO - FL
ORLANDO NORTH - FL
ORLANDO SOUTH - FL
PASCO - WA
PEORIA - IL
PHILADELPHIA - PA
PHILADELPHIA EAST - PA
PHOENIX - AR
PITTSBURGH EAST - PA
PITTSBURGH NORTH - PA
PITTSBURGH SOUTH - PA
PITTSBURGH WEST - PA
PORTLAND NORTH - OR
PORTLAND SOUTH - OR
PUNTA GORDA - FL
PUNTA GORDA SOUTH - FL
RALEIGH - NC
RANCHO CUCAMONGA - CA
REDDING - CA
RENO - NV
RICHMOND - VA
RICHMOND EAST - VA
ROCHESTER - NY
SACRAMENTO - CA
SALT LAKE CITY - UT
SALT LAKE CITY NORTH - UT
SAN ANTONIO - TX
SAN BERNARDINO - CA
SAN DIEGO - CA
SAN JOSE - CA
SAVANNAH - GA
SAVANNAH / VERTIA SUBLOT-Georgia Copart - GA
SC - COLUMBIA - SC
SCRANTON - PA
SEAFORD - DE
SHREVEPORT - LA
SIKESTON - MO
SO SACRAMENTO - CA
SOMERVILLE - NJ
SOUTH BOSTON - MA
Southern Illinois - IL
SPARTANBURG - SC
SPOKANE - WA
SPRINGFIELD - MO
ST. CLOUD - MN
ST. LOUIS - MO
SUN VALLEY - CA
SYRACUSE - NY
TALLAHASSEE - FL
TAMPA SOUTH - FL
TAMPA SOUTH - Mulberry Sublot - FL
TANNER - AL
TIFTON - GA
TOW GUYS KAMUELA - HI
TRENTON - NJ
TUCSON - AZ
TULSA - OK
VALLEJO - CA
VAN NUYS - CA
WACO - TX
WALTON - KY
WASHINGTON DC - MD
WEBSTER - NH
WEST PALM BEACH - FL
WEST WARREN - MA
WHEELING - IL
Windham - NY
WICHITA - KS
YORK HAVEN - PA
WAYLAND - MI


*/